.left-contents
  .upper-content
    .title 使い切る食材たち（ユーザーコント）
    = link_to user_path(current_user) do
      自分のtopへ
      
    = form_for (@memo) do |f| 
      .formbox
        .formbox__food FOOD
        = f.label :FOOD, class: 'formbox__food__label'
        = f.text_field :food, class: 'formbox__food__name', placeholder: ' type a food name'
        -# %input{type:"text", class:"formbox__food__name", placeholder: " type a food name"}
        .formbox__date LIMIT!
        = f.label :LIMIT, class: 'formbox__date__label'
        = f.date_select :limit_date, class: 'formbox__date__limit'
        -# %input{type:"date", class:"formbox__date__limit"}
      .btn
        = f.submit 'AddFood',class:"submit-btn"