%header
  .header-contents
    .header-contents__title
      Kicchiri Kigen  
    .header-contents__manage
      - if user_signed_in?
        = link_to user_path(current_user), class: 'header-contents__manage__btn' do
          自身のページ
        = link_to new_user_path, class: 'header-contents__manage__btn' do
          新規投稿
        = link_to destroy_user_session_path, method: :delete,  class: 'header-contents__manege__btn' do
          ログアウト
      - else
        = link_to new_user_session_path, class: 'header-contents__manage__btn' do
          ログイン
        = link_to new_user_registration_path, class: 'header-contents__manage__btn' do
          新規登録
        
        = link_to new_memo_path, class: 'header-contents__manage__logo' do
          = icon('fas fa-2x', 'cog')


.main-content 
  ユーザー専用ページ
  .title-content 
    .title-content__food
      
      Food Name
    .title-content__limit
      Limit Date
  .list
    .list__foods
      - @memos.each do |memo|
        .list__foods__one 
          = icon('fas','fish')
          = memo.food

    .list__limit
      - @memos.each do |memo|
        .list__limit__date
          = icon('fas', 'exclamation-triangle')
          = memo.limit_date
    
    .list__show
      - @memos.each do |memo|
        .list__show__btn
          =link_to '詳細', user_path(current_user)

    .list__edit
      - @memos.each do |memo|
        .list__edit__btn
          =link_to '編集', edit_memo_path(memo)


    .list__delete-btn
      - @memos.each do |memo|
        .list__destroy__btn
          = link_to memo_path(memo), method: :delete do
            削除
            