.left-contents
  .upper-content
    = link_to root_path do
      topへ
    .title 使い切る食材たち(ユーザー専用show)

  .main-content 
    .title-content 
      .title-content__food
        
        Food Name
      .title-content__limit
        Limit Date
    .list
      .list__foods
        - @memos.each do |memo|
          .list__foods__one 
            = icon('fas','fish')
            = memo.food

      .list__limit
        - @memos.each do |memo|
          .list__limit__date
            = icon('fas', 'exclamation-triangle')
            = memo.limit_date
      .list__edit-btn
        編集
      .list__delete-btn
        削除