.left-contents
    
  .upper-content
    .title S T O C K
    %form
      .formbox
        .formbox__food FOOD
        %input{type:"text", class:"formbox__food__name", placeholder: " まずは、ログイン"}
        .formbox__date LIMIT!
        %input{type:"date", class:"formbox__date__limit"}
      .btn
        = link_to new_user_registration_path do
          %input{type:"submit", class:"submit-btn", value:"add food"}


  .main-content 
    
    .title-content 
      .title-content__food
        
        Food Name
      .title-content__limit
        Limit Date
          

    .list
      .list__foods
        .list__foods__one 
          = icon('fas','fish')
          バター
        .list__foods__one 
          = icon('fas','fish')
          わさび

      .list__limit
        .list__limit__date
          = icon('fas', 'exclamation-triangle')
          2020-07-01
        .list__limit__date
          = icon('fas', 'exclamation-triangle')
          2020-09-01

      .list__edit
        .list__edit__btn
          変更  
        .list__edit__btn
          変更


      .list__delete
        .list__delete__btn
          終わり
        .list__delete__btn
          終わり