.main-content 
  = link_to root_path do
    top
  .title-content 
    .title-content__food
      
      Food Name
    .title-content__limit
      Limit Date
  .list
    .list__foods
      - @memos.each do |memo|
        .list__foods__one 
          = icon('fas','fish')
          = memo.food

    .list__limit
      - @memos.each do |memo|
        .list__limit__date
          = icon('fas', 'exclamation-triangle')
          = memo.limit_date

    .list__show
      - @memos.each do |memo|
        .list__show__btn
          =link_to '詳細', memo_path(memo)

  - if user_signed_in? && current_user.id == @memo.user_id
    .list__edit
      - @memos.each do |memo|
        .list__edit__btn
          =link_to '編集', edit_memo_path(@memo.id)


    .list__delete-btn
      - @memos.each do |memo|
        .list__destroy__btn
          = link_to memo_path(@memo.id), method: :delete do
            削除
            